@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/susy-1\.0\.5\/sass\/susy\/_grid\.scss}line{font-family:\0000314}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_element_defaults\.scss}line{font-family:\000031}}
a {
  color: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_element_defaults\.scss}line{font-family:\000033}}
a:hover {
  color: #222222;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_element_defaults\.scss}line{font-family:\000039}}
strong {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 112.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 18px;
  line-height: 1.55556em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\000034}}
html {
  font-family: sans-serif;
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000310}}
h1 {
  font-weight: 700;
  font-size: 3em;
  line-height: 1.55556em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000314}}
h2 {
  font-size: 2.5em;
  line-height: 1.24444em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000317}}
h3 {
  font-size: 2em;
  line-height: 1.55556em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000320}}
h4 {
  font-size: 1.5em;
  line-height: 1.03704em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000325}}
p {
  font-weight: 100;
  margin-top: 1.55556em;
  margin-bottom: 1.55556em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/base\/_typography\.scss}line{font-family:\0000331}}
header {
  margin-top: 1.55556em;
  margin-bottom: 1.55556em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/layout\/_page\.scss}line{font-family:\000031}}
body {
  background: #f3efe5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/layout\/_page\.scss}line{font-family:\000034}}
.l-page {
  *zoom: 1;
  max-width: 70.1em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.l-page:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/non-modular\/_debug\.scss}line{font-family:\000032}}
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.55556em;
  -moz-background-size: 100% 1.55556em;
  -o-background-size: 100% 1.55556em;
  background-size: 100% 1.55556em;
  background-position: left top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kahlil\/Dropbox\/code\/init-susy\/scss\/non-modular\/_debug\.scss}line{font-family:\000035}}
.l-page {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(5.997%, rgba(100, 100, 225, 0.25)), color-stop(5.997%, rgba(0, 0, 0, 0)), color-stop(8.54573%, rgba(0, 0, 0, 0)), color-stop(8.54573%, rgba(100, 100, 225, 0.25)), color-stop(14.54273%, rgba(100, 100, 225, 0.25)), color-stop(14.54273%, rgba(0, 0, 0, 0)), color-stop(17.09145%, rgba(0, 0, 0, 0)), color-stop(17.09145%, rgba(100, 100, 225, 0.25)), color-stop(23.08846%, rgba(100, 100, 225, 0.25)), color-stop(23.08846%, rgba(0, 0, 0, 0)), color-stop(25.63718%, rgba(0, 0, 0, 0)), color-stop(25.63718%, rgba(100, 100, 225, 0.25)), color-stop(31.63418%, rgba(100, 100, 225, 0.25)), color-stop(31.63418%, rgba(0, 0, 0, 0)), color-stop(34.18291%, rgba(0, 0, 0, 0)), color-stop(34.18291%, rgba(100, 100, 225, 0.25)), color-stop(40.17991%, rgba(100, 100, 225, 0.25)), color-stop(40.17991%, rgba(0, 0, 0, 0)), color-stop(42.72864%, rgba(0, 0, 0, 0)), color-stop(42.72864%, rgba(100, 100, 225, 0.25)), color-stop(48.72564%, rgba(100, 100, 225, 0.25)), color-stop(48.72564%, rgba(0, 0, 0, 0)), color-stop(51.27436%, rgba(0, 0, 0, 0)), color-stop(51.27436%, rgba(100, 100, 225, 0.25)), color-stop(57.27136%, rgba(100, 100, 225, 0.25)), color-stop(57.27136%, rgba(0, 0, 0, 0)), color-stop(59.82009%, rgba(0, 0, 0, 0)), color-stop(59.82009%, rgba(100, 100, 225, 0.25)), color-stop(65.81709%, rgba(100, 100, 225, 0.25)), color-stop(65.81709%, rgba(0, 0, 0, 0)), color-stop(68.36582%, rgba(0, 0, 0, 0)), color-stop(68.36582%, rgba(100, 100, 225, 0.25)), color-stop(74.36282%, rgba(100, 100, 225, 0.25)), color-stop(74.36282%, rgba(0, 0, 0, 0)), color-stop(76.91154%, rgba(0, 0, 0, 0)), color-stop(76.91154%, rgba(100, 100, 225, 0.25)), color-stop(82.90855%, rgba(100, 100, 225, 0.25)), color-stop(82.90855%, rgba(0, 0, 0, 0)), color-stop(85.45727%, rgba(0, 0, 0, 0)), color-stop(85.45727%, rgba(100, 100, 225, 0.25)), color-stop(91.45427%, rgba(100, 100, 225, 0.25)), color-stop(91.45427%, rgba(0, 0, 0, 0)), color-stop(94.003%, rgba(0, 0, 0, 0)), color-stop(94.003%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.997%, rgba(0, 0, 0, 0) 5.997%, rgba(0, 0, 0, 0) 8.54573%, rgba(100, 100, 225, 0.25) 8.54573%, rgba(100, 100, 225, 0.25) 14.54273%, rgba(0, 0, 0, 0) 14.54273%, rgba(0, 0, 0, 0) 17.09145%, rgba(100, 100, 225, 0.25) 17.09145%, rgba(100, 100, 225, 0.25) 23.08846%, rgba(0, 0, 0, 0) 23.08846%, rgba(0, 0, 0, 0) 25.63718%, rgba(100, 100, 225, 0.25) 25.63718%, rgba(100, 100, 225, 0.25) 31.63418%, rgba(0, 0, 0, 0) 31.63418%, rgba(0, 0, 0, 0) 34.18291%, rgba(100, 100, 225, 0.25) 34.18291%, rgba(100, 100, 225, 0.25) 40.17991%, rgba(0, 0, 0, 0) 40.17991%, rgba(0, 0, 0, 0) 42.72864%, rgba(100, 100, 225, 0.25) 42.72864%, rgba(100, 100, 225, 0.25) 48.72564%, rgba(0, 0, 0, 0) 48.72564%, rgba(0, 0, 0, 0) 51.27436%, rgba(100, 100, 225, 0.25) 51.27436%, rgba(100, 100, 225, 0.25) 57.27136%, rgba(0, 0, 0, 0) 57.27136%, rgba(0, 0, 0, 0) 59.82009%, rgba(100, 100, 225, 0.25) 59.82009%, rgba(100, 100, 225, 0.25) 65.81709%, rgba(0, 0, 0, 0) 65.81709%, rgba(0, 0, 0, 0) 68.36582%, rgba(100, 100, 225, 0.25) 68.36582%, rgba(100, 100, 225, 0.25) 74.36282%, rgba(0, 0, 0, 0) 74.36282%, rgba(0, 0, 0, 0) 76.91154%, rgba(100, 100, 225, 0.25) 76.91154%, rgba(100, 100, 225, 0.25) 82.90855%, rgba(0, 0, 0, 0) 82.90855%, rgba(0, 0, 0, 0) 85.45727%, rgba(100, 100, 225, 0.25) 85.45727%, rgba(100, 100, 225, 0.25) 91.45427%, rgba(0, 0, 0, 0) 91.45427%, rgba(0, 0, 0, 0) 94.003%, rgba(100, 100, 225, 0.25) 94.003%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.997%, rgba(0, 0, 0, 0) 5.997%, rgba(0, 0, 0, 0) 8.54573%, rgba(100, 100, 225, 0.25) 8.54573%, rgba(100, 100, 225, 0.25) 14.54273%, rgba(0, 0, 0, 0) 14.54273%, rgba(0, 0, 0, 0) 17.09145%, rgba(100, 100, 225, 0.25) 17.09145%, rgba(100, 100, 225, 0.25) 23.08846%, rgba(0, 0, 0, 0) 23.08846%, rgba(0, 0, 0, 0) 25.63718%, rgba(100, 100, 225, 0.25) 25.63718%, rgba(100, 100, 225, 0.25) 31.63418%, rgba(0, 0, 0, 0) 31.63418%, rgba(0, 0, 0, 0) 34.18291%, rgba(100, 100, 225, 0.25) 34.18291%, rgba(100, 100, 225, 0.25) 40.17991%, rgba(0, 0, 0, 0) 40.17991%, rgba(0, 0, 0, 0) 42.72864%, rgba(100, 100, 225, 0.25) 42.72864%, rgba(100, 100, 225, 0.25) 48.72564%, rgba(0, 0, 0, 0) 48.72564%, rgba(0, 0, 0, 0) 51.27436%, rgba(100, 100, 225, 0.25) 51.27436%, rgba(100, 100, 225, 0.25) 57.27136%, rgba(0, 0, 0, 0) 57.27136%, rgba(0, 0, 0, 0) 59.82009%, rgba(100, 100, 225, 0.25) 59.82009%, rgba(100, 100, 225, 0.25) 65.81709%, rgba(0, 0, 0, 0) 65.81709%, rgba(0, 0, 0, 0) 68.36582%, rgba(100, 100, 225, 0.25) 68.36582%, rgba(100, 100, 225, 0.25) 74.36282%, rgba(0, 0, 0, 0) 74.36282%, rgba(0, 0, 0, 0) 76.91154%, rgba(100, 100, 225, 0.25) 76.91154%, rgba(100, 100, 225, 0.25) 82.90855%, rgba(0, 0, 0, 0) 82.90855%, rgba(0, 0, 0, 0) 85.45727%, rgba(100, 100, 225, 0.25) 85.45727%, rgba(100, 100, 225, 0.25) 91.45427%, rgba(0, 0, 0, 0) 91.45427%, rgba(0, 0, 0, 0) 94.003%, rgba(100, 100, 225, 0.25) 94.003%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.997%, rgba(0, 0, 0, 0) 5.997%, rgba(0, 0, 0, 0) 8.54573%, rgba(100, 100, 225, 0.25) 8.54573%, rgba(100, 100, 225, 0.25) 14.54273%, rgba(0, 0, 0, 0) 14.54273%, rgba(0, 0, 0, 0) 17.09145%, rgba(100, 100, 225, 0.25) 17.09145%, rgba(100, 100, 225, 0.25) 23.08846%, rgba(0, 0, 0, 0) 23.08846%, rgba(0, 0, 0, 0) 25.63718%, rgba(100, 100, 225, 0.25) 25.63718%, rgba(100, 100, 225, 0.25) 31.63418%, rgba(0, 0, 0, 0) 31.63418%, rgba(0, 0, 0, 0) 34.18291%, rgba(100, 100, 225, 0.25) 34.18291%, rgba(100, 100, 225, 0.25) 40.17991%, rgba(0, 0, 0, 0) 40.17991%, rgba(0, 0, 0, 0) 42.72864%, rgba(100, 100, 225, 0.25) 42.72864%, rgba(100, 100, 225, 0.25) 48.72564%, rgba(0, 0, 0, 0) 48.72564%, rgba(0, 0, 0, 0) 51.27436%, rgba(100, 100, 225, 0.25) 51.27436%, rgba(100, 100, 225, 0.25) 57.27136%, rgba(0, 0, 0, 0) 57.27136%, rgba(0, 0, 0, 0) 59.82009%, rgba(100, 100, 225, 0.25) 59.82009%, rgba(100, 100, 225, 0.25) 65.81709%, rgba(0, 0, 0, 0) 65.81709%, rgba(0, 0, 0, 0) 68.36582%, rgba(100, 100, 225, 0.25) 68.36582%, rgba(100, 100, 225, 0.25) 74.36282%, rgba(0, 0, 0, 0) 74.36282%, rgba(0, 0, 0, 0) 76.91154%, rgba(100, 100, 225, 0.25) 76.91154%, rgba(100, 100, 225, 0.25) 82.90855%, rgba(0, 0, 0, 0) 82.90855%, rgba(0, 0, 0, 0) 85.45727%, rgba(100, 100, 225, 0.25) 85.45727%, rgba(100, 100, 225, 0.25) 91.45427%, rgba(0, 0, 0, 0) 91.45427%, rgba(0, 0, 0, 0) 94.003%, rgba(100, 100, 225, 0.25) 94.003%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 5.997%, rgba(0, 0, 0, 0) 5.997%, rgba(0, 0, 0, 0) 8.54573%, rgba(100, 100, 225, 0.25) 8.54573%, rgba(100, 100, 225, 0.25) 14.54273%, rgba(0, 0, 0, 0) 14.54273%, rgba(0, 0, 0, 0) 17.09145%, rgba(100, 100, 225, 0.25) 17.09145%, rgba(100, 100, 225, 0.25) 23.08846%, rgba(0, 0, 0, 0) 23.08846%, rgba(0, 0, 0, 0) 25.63718%, rgba(100, 100, 225, 0.25) 25.63718%, rgba(100, 100, 225, 0.25) 31.63418%, rgba(0, 0, 0, 0) 31.63418%, rgba(0, 0, 0, 0) 34.18291%, rgba(100, 100, 225, 0.25) 34.18291%, rgba(100, 100, 225, 0.25) 40.17991%, rgba(0, 0, 0, 0) 40.17991%, rgba(0, 0, 0, 0) 42.72864%, rgba(100, 100, 225, 0.25) 42.72864%, rgba(100, 100, 225, 0.25) 48.72564%, rgba(0, 0, 0, 0) 48.72564%, rgba(0, 0, 0, 0) 51.27436%, rgba(100, 100, 225, 0.25) 51.27436%, rgba(100, 100, 225, 0.25) 57.27136%, rgba(0, 0, 0, 0) 57.27136%, rgba(0, 0, 0, 0) 59.82009%, rgba(100, 100, 225, 0.25) 59.82009%, rgba(100, 100, 225, 0.25) 65.81709%, rgba(0, 0, 0, 0) 65.81709%, rgba(0, 0, 0, 0) 68.36582%, rgba(100, 100, 225, 0.25) 68.36582%, rgba(100, 100, 225, 0.25) 74.36282%, rgba(0, 0, 0, 0) 74.36282%, rgba(0, 0, 0, 0) 76.91154%, rgba(100, 100, 225, 0.25) 76.91154%, rgba(100, 100, 225, 0.25) 82.90855%, rgba(0, 0, 0, 0) 82.90855%, rgba(0, 0, 0, 0) 85.45727%, rgba(100, 100, 225, 0.25) 85.45727%, rgba(100, 100, 225, 0.25) 91.45427%, rgba(0, 0, 0, 0) 91.45427%, rgba(0, 0, 0, 0) 94.003%, rgba(100, 100, 225, 0.25) 94.003%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
